.main {
	position: fixed;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	height: 200px;
	width: 450px;
	bottom: 3px;
	right: 3px;
}
.markerBox {
	position: absolute;
	background: black;
	border: 0;
	bottom: 40px;
	height: 15px;
	left: 0;
	right: 0;
}
.actionPending {
	position: absolute;
	margin: 0;
	margin-left: 10px;
	bottom: 6px;
	font-size: 22px;
}
.action {
	font-weight: bold;
	color: blue;
}
.logo {
	vertical-align: text-bottom;
	height: 25px;
	margin: 0;
	margin-left: -10px;
	margin-right: -10px;
}
.linkHome {
	position: absolute;
	top: 0;
	right: 0;
}
.linkHome button {
	font-size: 10px;
	color: blue;
	background-color: white;
	border-radius: 5px;
	width: 80px;
}
button:hover {
	background-color: red;
	color: white;
}
.info {
	position: absolute;
	margin: 10px;
	width: 75%;
	height: 40px;
	font-size: 25px;
}
.user {
	display: inline;
	color: blue;
}
.title {
	display: inline;
	color: blue;
	font-weight: bold;
	cursor: default;
}
.title:hover {
	color: gray;
}
.titlesplit {
	display: inline;
	margin: 2px;
	color: blue;
}
.date {
	position: absolute;
	margin: 3px;
	right: 0;
	font-size: 18px;
	bottom: 55px;
}
