node_modules
npm-debug.log
stats.json
.idea
.DS_STORE*
.build

# Horizon/RethinkDB interaction
rethinkdb_data
**/*.log
.hz/secrets.toml

*bundle.js
dist/
*.wiki/
npm-debug.log
/__build__/
*.jpg
*.jpeg
*.JPG
*.JPEG
api/calibration/*.json
sandbox/
*.bmp
*.BMP
