.help {
	position: fixed;
	background-color: white;
	margin: 0;
	padding: 10px;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px dashed red;
	border-radius: 5px;
	top: 100px;
	left: 30%;
}
h4 {
	font-style: italic;
	font-variant: small-caps;
}
.comp {
	font-variant: small-caps;
	text-align: center;
}
.red {
	font-weight: bold;
	color: red;
}
.green {
	font-weight: bold;
	color: green;
}
.blue {
	font-weight: bold;
	color: blue;
}
.orange {
	font-weight: bold;
	color: orange;
}
.gray {
	font-weight: bold;
	color: gray;
}
.brown {
	font-weight: bold;
	color: brown;
}
.black {
	font-weight: bold;
	color: black;
}
.num {
	color: red;
	font-weight: 700;
}

