.home {
  position: absolute;
  text-align: center;
  /*border: 10px dashed blue;border: */
}
.linkDesign {
	position: absolute;
	top: 250px;
	left: 400px;
}
.linkDesign button {
	font-size: 18px;
	color: blue;
	background-color: white;
	border-radius: 5px;
	width: 120px;
}
button:hover {
	background-color: red;
	color: white;
}
.logo {
	position: absolute;
	left: 100px;
	top: 150px;
	height: 80px;
}
.slogan {
	position: absolute;
	padding: 10px;
	/*border: 1px solid black;*/
	width: 400px;
	top: 380px;
	left: 150px;
	font-size: 30px;
}