.container {
  position: absolute;
  left: auto;
  top: auto;
  /*left: 10px;*/
  text-align: center;
}
.linkDesign {
	position: absolute;
	top: 250px;
	left: 400px;
}
button {
	font-size: 18px;
	color: blue;
	background-color: white;
	border-radius: 5px;
	width: 120px;
}
button:hover {
	background-color: blue;
	color: white;
}
.logo {
	position: absolute;
	left: 100px;
	top: 150px;
	height: 80px;
}