@import "~font-awesome/css/font-awesome.css";

* {
  font-family: Courier;
  color: black;
}
body {
  position: absolute;
  /*border: 1px dashed blue;*/
  top: 0;
  /*bottom: 0;*/
  left: 0;
  /*right: 0;*/
  height: 100%;
  width: 100%;
  margin: 0;
  /*padding: 0;*/
}
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: orange;
}
