#trademark {
    position: absolute;
    top: 15%;
    right: 60%;
    width: 300px;
}
#blue{
    position:absolute;
    height: 2px;
	top: 100px;
	right: 300px;
	left: 10px;
	border-bottom: 2px solid blue;
}
#red{
    position:absolute;
    height: 2px;
	top: 104px;
	right: 400px;
	left: 20px;
	border-bottom: 2px solid red;
}
#green{
    position:absolute;
    height: 2px;
    top: 108px;
	right: 500px;
	left: 30px;
	border-bottom: 2px solid green;
}
