body{
	margin: 0;
	font-family: Courier;
	font-size: 20px;
}
#projects {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
#center_content {
	position: absolute;
	top: 70%;
	max-width: 100%;
	margin-bottom: 5%;
	// border: 1px solid black;
}
.header {
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.center_item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	// margin-bottom: 60px;
	border: 1px solid black;
}
.center_topic {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.icon {
	margin-bottom: 50px;
	margin-top: 50px;
	display: block;
	height: 40px;
	width: 40px;

}
#contact_me {
	float: right;
	max-height: 30%;
	height: 300px;
	width: 42px;
}
#left_column {
	position: absolute;
	max-width: 50%;
	right: 50%;
	height:5000px;
	left: 0;
	margin: 0;
	// border:10px solid orange;
	background-color: #E0E0E0;
}
.left_item {
	max-width: 100%;
	width: 100%;
}
#right_column {
	position: absolute;
	max-width: 50%;
	max-height: 70%;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
	// border:10px solid green;
}
#profile_pic {
	max-width: 100%;
	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}
#video {
	border: 11px solid #ccffcc;
	border-radius: 5px;
	width: 50%;
}
#video:hover {
	border: 11px solid #00ff00;
}
.media_item {
	max-width: 100%;
	display: inline-block;
	margin: 5%;
}
#ned {
	color: purple;
	font-weight: bold;
	font-size: 23px;
}
#quotes {
	width: 60%;
	/*right: 100%;*/
	left: 20%;
	/*top: 50%;*/
	/*bottom: 0;*/
	padding: auto;
	/*border: 1px solid black;*/
}
.quote {
	max-width: 100%;
	display: inline-block;
	margin-left: 20%;
	margin-right: 18%;
}
#xyzline {
	color: #000000;
	font-weight: normal;
}
#xyzline:hover {
	color: orange;
}
a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	font-size: 23px;
}
a:hover {
	color: orange;
}
#name {
	font-size: 60px;
	color: #0000ff;
}
#greet{
	// text-align: center;
	font-size: 40px;
	// border: 1px solid black;
	margin-left: 3%;
	// margin-left: 15px;
	// margin:10px;
}
p {
	/*margin-left: 20px;*/
	/*margin-right: 55%;*/
	font-size: 20px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

#button {
	position: absolute;
	text-align: center;
	height: 90px;
	width: 300px;
	background-color: white;
	border: 6px solid green;
	border-radius: 25px;
	margin: 0;
	margin-left: 5%;
	background-color: #b0e2ff;
	bottom: 0;
}
#button:hover {
	background-color: #00ccff;
	border: 6px solid orange;
	color: white;
}
#button p {
	position:relative;
	vertical-align: middle;
	margin:auto;
	top: 32px;
}
.intro {
	// position: absolute;
	display: block;
	max-width: 200px;
	margin-left: 5%;
	margin-bottom: 30px;
	width: 30%;
	// border: 1px solid black;
	font-size: 16px;
}
#chart {
	position: absolute;
	// border: 1px solid blue;
	right: 0;
	top:25px;
	height: 400px;
	width: 200px;
}
#warning {
	color: red;
	font-size: 35px;
}
