body{
	margin: 0;
	font-family: Courier;
	font-size: 20px;
}
#center_content {
	position: absolute;
	top: 75%;
	max-width: 100%;
	width: 100%;
	margin-bottom: 5%;
}
.header {
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.center_item {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}
.topic {
	margin-top: 5%;
	position: relative;
	display:block;
	width: 50%;
	text-align: center;
	left: 100px;
}
.icon {
	margin-top: 20px;
	display: block;

}
#contact_me {
	margin-top: 135px;
	float: right;
	max-height: 30%;
	height: 300px;
	width: 42px;
}
#left_column {
	position: absolute;
	max-width: 50%;
	right: 50%;
	height:5000px;
	left: 0;
	margin: 0;
	background-color: #E0E0E0;
}
.left_item {
	max-width: 100%;
	width: 100%;
}
#right_column {
	position: absolute;
	max-width: 50%;
	max-height: 70%;
	left: 50%;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0;
}
#profile_pic {
	max-width: 100%;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
}
#video {
	border: 11px solid #00f;
	border-radius: 5px;
}
#video:hover {
	border: 11px solid #00ff00;
}
.media_item {
	max-width: 100%;
	display: inline-block;
	margin: 5%;
	margin-top: 10%;
}
#ned {
	color: purple;
	font-weight: bold;
	font-size: 23px;
}
#quotes {
	width: 60%;
	left: 20%;
	padding: auto;
}
.quote {
	max-width: 100%;
	display: inline-block;
	margin-left: 20%;
	margin-right: 18%;
}
#xyzline {
	color: #000000;
	font-weight: normal;
}
#xyzline:hover {
	color: orange;
}
a {
	color: green;
	font-weight: bold;
	text-decoration: none;
	font-size: 23px;
}
a:hover {
	color: orange;
}
#name {
	font-size: 60px;
	color: #0000ff;
}
#greet{
	font-size: 40px;
	margin-left: 3%;
}
p {
	font-size: 20px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
#buttons {
	position: absolute;
	width: 100%;
	bottom: -50px;
	left: -15%;
	z-index: 2;
}
.project_button {
	display: block;
	text-align: center;
	height: 60px;
	width: 30%;
	border: 3px solid black;
	border-radius: 8px;
	margin: 10px;
	margin-left: -3px;
	background-color: white;
	bottom: 0;
	color: #f00
}
.button {
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 30%;
	border: 2px solid green;
	border-radius: 4px;
	margin: 0;
	margin-left: 0;
	background-color: #0f0;
	bottom: 0;
	color: #000;
}
.button p {
	margin-top: 12px;
}
.button:hover {
	background-color: #f00;
	border: 2px solid black;
	color: white;
}
.button p {
	vertical-align: middle;
}
#iam {
	position: absolute;
	width: 50%;
}
.intro {
	display: block;
	margin-top:40px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	text-align: center;
}
#chart {
	right: 0;
	position: absolute;
	top:25px;
	height: 400px;
	width: 400px;
	z-index: -1;
}
#warning {
	color: red;
	font-size: 35px;
}
#occupation {
	position: absolute;
	text-align: center;
	padding-top: 160px;
	left: auto;
	right: auto;
	bottom: 0;
	top: 0;
}
.occupation_detail {
	margin-bottom: 20px;
	padding: 0;
	font-size: 16px;
	padding-right: 5%;
}
#occ {
	position: relative;
	margin-left:auto;
	max-width: 400px;
	margin-right: -30px;
	top: 30px;
}
#projects {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.form_item {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 18px;
}
#form {
	width: 500px;
}
#form_submit {
	width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 18px;
}
#message {
	height: 150px;
}
