#restaurant_name {
    color: orange;
}
.restaurant_home_item {
    display: block;
}
#restaurant_home {
    // position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 60px 0 15px 0;
    background-color: gray;
    text-align: center;
}
#menu_header {
    width: 100%;
    margin-top: 0;
    padding: 60px 0 15px 0;
    background-color: gray;
    text-align: center;
}
#restaurant {
    box-sizing: border-box;
    border: 25px solid red;
    border-top: 35px solid red;
    background-size: cover;
    background-color: black;
    color: white;
    height: 100%;
    padding-bottom: 1000px;
}
#menu_item {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.menu_block {
    display: block;
}
#menu_item {
    font-size: 18px;
    font-family: Arial;
}
.item_detail {
    margin: 5px;
}
#sortedMenuList {
    margin-top: 50px;
}
#menu_section {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
#item_item {
    font-size: 20px;
    font-weight: bold;
}
#item_side {
    margin-left: 20px;
}
#item_price {
    font-size: 28px;
    float: right;
    margin-top: 10px;
}
.item_lr {
    max-width: 80%;
    display: inline-block;
}
#menu_buttons {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.menu_button {
    display: inline-block;
	text-align: center;
	height: 45px;
	width: 200px;
	border: 2px solid green;
	border-radius: 4px;
    margin-left: 10px;
	margin-right: 10px;
	background-color: #000;
}
.menu_button p {
	margin-top: 10px;
}
.nav_button p {
	margin-top: 10px;
}
.menu_button:hover {
    background-color: #282828;
    cursor: pointer;
}
#button_breakfast {
    color: orange;
}
#button_lunch_dinner {
    color: red;
}
#button_dessert {
    color: yellow;
}
.nav_button {
    display: inline-block;
	text-align: center;
	height: 45px;
	width: 200px;
	border: 2px solid green;
	border-radius: 4px;
    margin-left: 10px;
	margin-right: 10px;
	background-color: black;
}
#nav_viewHome {
    position: fixed;
    left: 30px;
    top: 200px;
    height: 45px;
	width: 100px;
	border: 2px solid green;
	border-radius: 4px;
    margin-left: 10px;
	margin-right: 10px;
}
.nav_button:hover {
    background-color: #282828;
    cursor: pointer;
}
